{
  "extends": "react-app",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "semi": false,
        "useTabs": false,
        "singleQuote": true
      }
    ]
  }
}
