{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "plugins": ["jest", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "semi": false,
        "useTabs": false,
        "singleQuote": true
      }
    ]
  }
}
